* {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%
}
body{
    background-color: #FAF9F6;
}
.navbar-brand {
    font-weight: bold;
    font-size: x-large;
}
.navbar {
    font-weight: bold;
    font-size: x-large;
    border-bottom: 4px solid black;
}
footer {
    margin: 10px;
  }
  footer .bi {
    color: #696969 ;
  }
.btn {
    color: black;
}
